.head {
  background-color: #054684;
  color: white;
}
.row {
  cursor: pointer;
  font-weight: bold;
}

.tablepage {
  display: flex;
  align-items: flex-end;
  color: #054684;
  margin: 10px;
}

.columhead {
  display: flex;
  justify-content: space-between;
}

.sortbutton {
  padding: 0rem;
  text-align: right;
  min-width: 1.2rem;
}
